// global
$font: "Cairo";
$mainColor: #ba1849;
body {
    direction: rtl !important;
    font-family: $font !important;
}

.section.section-banner {
    display: none !important;
}

@font-face {
    font-family: "Cairo";
    src: url(../fonts/Lang/Cairo-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Cairo";
    src: url(../fonts/Lang/Cairo-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Cairo";
    src: url(../fonts/Lang/Cairo-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

* {
    font-family: "cairo" !important;
}

.rd-navbar-wrap{
    height: auto !important;
}

.page .icon-primary,
.button.button-block {
    color: $mainColor;
    border-color: $mainColor;
}

.button.button-responsive {
    background-color: $mainColor;
}

.bg-accent {
    background: $mainColor;
    fill: $mainColor;
}

.button.button-block {
    background-color: $mainColor;
    color: #fff !important;
}

.rd-navbar-fixed .rd-navbar-nav li:hover>a,
.rd-navbar-fixed .rd-navbar-nav li:hover>a:hover,
.rd-navbar-fixed .rd-navbar-nav li.focus>a,
.rd-navbar-fixed .rd-navbar-nav li.focus>a:hover,
.rd-navbar-fixed .rd-navbar-nav li.active>a,
.rd-navbar-fixed .rd-navbar-nav li.active>a:hover,
.rd-navbar-fixed .rd-navbar-nav li.opened>a,
.rd-navbar-fixed .rd-navbar-nav li.opened>a:hover {
    background-color: $mainColor;
}

.form-label {
    left: auto;
    right: 20px;
}

.fa-angle-right:before {
    content: "\f053";
    margin-left: 0;
    margin-right: 8px;
    font-size: 14px;
}

.overlay {}

.swiper-variant-1 .slider-header {
    font-size: 36px !important;
    margin: 20px 0 !important;
}

.swiper-button-prev:before,
.swiper-button-next:before {
    display: none !important;
}

.open>html .button-primary-outline-v2.dropdown-toggle,
html .button-primary-outline-v2:hover {
    background-color: $mainColor !important;
}

.page a.icon-nobel-filled,
.page a.icon-nobel-filled:active,
.page a.icon-nobel-filled:focus {
    background: #fff;
    box-shadow: 0 0 5px #675555;
}

.form-validation {
    position: absolute;
    left: 5px;
    right: auto;
    top: auto;
    bottom: -15px;
    font-size: 11px;
    line-height: 11px;
    color: #fe4a21;
    margin-top: 2px;
    transition: 0.3s;
    font-weight: bold;
}

.quote-minimal q {
    font-size: 18px;
}

.owl-next:before {
    content: "\e5c8" !important;
    font-family: "Material Icons" !important;
    position: absolute;
}

.owl-prev:before {
    content: "\e5c4";
    font-family: "Material Icons";
    position: absolute;
}

.rd-navbar-static .rd-navbar-nav>li>a:after,
.rd-navbar-fullwidth .rd-navbar-nav>li>a:after {
    background: $mainColor;
}

.page a.icon-bright-gray-filled,
.page a.icon-bright-gray-filled:active,
.page a.icon-bright-gray-filled:focus {
    background-color: #fff;
}

.fa-facebook-f:before,
.fa-facebook:before {
    color: #0f4ea1
}

.fa-twitter:before {
    color: #1da1f2
}

.fa-google-plus:before {
    color: #dd4b39
}


/* end global */

// upper nav
.rd-navbar-aside-wrap {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.rd-navbar-aside-group {
    direction: ltr;
    justify-content: flex-end !important;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-nav>li>a {
    font-family: $font;
}

// nav
.rd-navbar-fixed .rd-navbar-aside-toggle {
    @media (max-width: 1200px) {
        top: 3% !important;
    }
}

.rd-navbar-panel {
    @media (max-width: 1200px) {
        direction: ltr !important;
        height: 96px !important;
        align-items: center;
    }
}

// nav links
.rd-navbar-default.rd-navbar-static .rd-navbar-nav>li+li {
    margin-left: auto;
    margin-right: 48px !important;
}

.rd-navbar-nav-wrap {
    width: 100% !important;
    .rd-navbar-nav-inner {
        width: 100% !important;
        .rd-navbar-btn-wrap {
            margin-right: 48px !important;
        }
    }
}


/* sideBar */

.rd-navbar-fixed .rd-navbar-nav-wrap {
    width: 270px !important;
    padding-top: 0 !important;
    top: 86px !important;
}


/* slider */

.swiper-container {
    @media (max-width: 1200px) {
        margin: 40px auto 0 !important;
    }
}

.swiper-slide.first {
    background-image: url(../images/slider-1.jpeg) !important;
    height: 100% !important;
}

.swiper-slide.second {
    background-image: url(../images/slider-2.jpeg) !important;
    height: 100% !important;
}

.swiper-slide.third {
    background-image: url(../images/slider-3.jpeg) !important;
    height: 100% !important;
}

.swiper-slide-caption {
    position: relative;
    z-index: 10;
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }
    .medium.text-primary {
        color: $mainColor !important;
    }
    .header-decorated>*:before,
    .header-decorated>*:after {
        border: 3px solid !important;
        opacity: 1;
    }
    .header-decorated>*:before {
        margin-left: 5px !important;
    }
    .header-decorated>*:after {
        margin-right: 5px !important;
    }
    .button-primary-outline-v2 {
        border-color: $mainColor !important;
    }
}


/* about  */

.bg-displaced-wrap {
    direction: ltr;
    .box-cart-body {
        direction: rtl;
        text-align: right;
        .blockquote-complex:after {
            right: 0;
            top: 0;
            border-width: 1px 1px 0px 0;
        }
        .blockquote-complex:before {
            left: 0;
            bottom: 0;
            top: auto;
            border-width: 0px 0px 1px 1px;
        }
        .blockquote-complex cite:before {
            margin-right: 0;
            margin-left: 4px;
        }
        .blockquote-complex small {
            margin-left: 0;
            margin-right: 8px;
        }
    }
}


/* clients */

.section.parallax-container {
    margin-top: 36px;
    .section-50.section-md-90 {
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: -1;
        }
    }
}


/* send a message */

.bg-whisper {
    text-align: right;
    .message-img {
        height: 100%;
        img {
            height: 100% !important;
            object-fit: cover;
        }
    }
}

.select2-selection {
    display: flex !important;
    justify-content: space-between;
    direction: rtl;
    .select2-selection__rendered {}
    .select2-selection__arrow {
        position: relative !important;
        right: auto !important;
        b {
            &::before {
                right: auto !important;
                left: 0 !important;
            }
        }
    }
}


/* footer */

.page-foot {
    text-align: right;
}

.list-marked-variant-2>li>a {
    padding-left: 0;
    padding-right: 20px;
}

.list-marked-variant-2>li>a:before {
    content: "\f053";
    position: absolute;
    right: 0;
    top: 1px;
    font: 400 18px/24px "FontAwesome";
    color: $mainColor;
    transition: 0.33s all ease;
    font-size: 12px;
}

.inset-xl-right-20 {
    text-align: right;
}

.unit-spacing-lg.unit>* {
    margin-bottom: 30px;
    margin-left: 15px;
}

.unit-left {
    .post-image {
        img {
            width: 70px !important;
            height: 70px !important;
            object-fit: cover;
        }
    }
}


/* about us page */

.page-title {
    text-align: right !important;
    .page-title-left,
    .page-title-right {
        display: none;
    }
}

.section-60 {
    direction: ltr !important;
}

.section-66 {
    h3 {
        text-align: right;
    }
    .inset-md-right-15 {
        text-align: right;
    }
}

.parallax-container.testi {
    position: relative;
    z-index: 10;
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 0;
    }
}

.owl-item {
    .quote-minimal {
        .quote-body {
            p {
                line-height: 2.7;
            }
        }
    }
}


/* contact 

  */

.rd-mailform {
    label {
        text-align: right !important;
    }
    .button.button-block {
        font-weight: normal;
        font-size: 13px;
    }
}

.col-lg-7.col-xl-6 {
    h3 {
        text-align: right;
    }
}


/* services */

.services-section {
    padding: 50px 0;
    background-color: #f5f5f5;
    .ser-holder {
        flex-wrap: wrap;
        .ser-content {
            flex-basis: 100%;
            max-width: 100%;
            padding: 20px;
            box-shadow: 0 0 5px #ccc;
            border-radius: 10px;
            margin-bottom: 24px;
            background-color: #fff;
            img{
               
                width: 70px;
                height: 70px;
                display: inline-block;
                text-align: center;
                border-radius: 25%;
                margin-left: 15px;
                color: #ba1849;
                box-shadow: 0 0 5px #ccc;
                padding: 10px;
            }
            
            h6 {
                color: $mainColor;
                font-size: 24px;
                margin-top: 0;
            }
            p{
                font-size: 18px;
                line-height: 28px;
                font-weight: 600;
            }
            ul {
                direction: rtl;
                text-align: right;
                list-style: auto;
                padding-right: 15px;
                margin-top: 15px;
                li {
                    font-weight: bold;
                    color: $mainColor;
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            font-weight: normal;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}



 /* whatsapp */ 
 .Whatsapp {
    position: fixed;
    left: 2%;
    bottom: 4%;
    background: #20b70e;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    &:hover {
        transform: scale(1.01);
        color: #fff
    }
}
 
.animated-whatsapp {
    animation: crescendo 1.5s alternate infinite ease-in;
    z-index: 4444;
}

@keyframes crescendo {
    0% {
        transform: scale(.9)
    }
    100% {
        transform: scale(1.1)
    }
}

.contact-us-on-whatsapp{
    color:$mainColor;
    font : {
        weight:bold;
        size:18px;
       
    } margin:0 7px
}

 /* our-vision*/ 

  .our-vision{
      padding:50px 0 ;
      background-color: $mainColor;
      text-align: right;
      h2{
          color:#fff

      }
      p{
          color:#fff;
          font-size: 19px;
          font-weight: 600;
          line-height: 29px;
      }
  }